<div class="w-25 text-center mx-auto mt-4">
    <h4>Administration</h4>
    <a class="btn btn-primary" href="/worker/register/{{data.companyId}}">Register employee</a>
    <a class="btn btn-primary" href="/news/add">Add post</a>
</div>